@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@

    <main>
        <article class="bg-gradient-to-r from-gray-700 to-gray-900">
            @Body
        </article>
    </main>
</div>