@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@

    <main>
        <article class="bg-black min-h-screen">
            @Body
        </article>
    </main>
</div>